<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
   
  
    <add key="ToEmail_necessary" value="" />
    
    <!--当为分布式部署时,用于机房ip的区分-->
    <add key="ServerIp" value="192.168.1.19" />

    <!--多线程监听间隔(秒)-->
    <add key="ListenerInterval" value="60" />

    <!--本地配置文件缓存间隔(秒)-->
    <add key="OptionCacheInterval" value="300" />

    <!--配置中心地址-->
    <add key="ConfigCenter" value="" />
    
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="BasicHttpBinding_ICaseService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IEvidenceService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        <binding name="BindingBehaviorConfiguration">
          <security mode="None">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="WindowsServerState.Service">
        <endpoint address="net.tcp://localhost:5559/IOperationServer" binding="netTcpBinding" contract="WindowsServerState.IService" bindingConfiguration="BindingBehaviorConfiguration">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="net.tcp://localhost:5559/IOperationServer/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
            以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
