<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServerName" type="WindowsServerState.ServerName,WindowsServerState" />
  </configSections>
  <!--需要侦听的服务名称-->
  <ServerName>
    <!--监控预警-->
    <add key="Log.ESB.Warning" value="日志服务总线-状态码预警" />
  </ServerName>
</configuration>